@charset "utf-8";
body{
	margin:auto;
	padding:0;
	background-color:#A5A5A5;
	font-family: "Open Sans", Arial;
	font-size:12px;
}
a{
	color:#6C266C;
}
.hr_bottom{
	height:1px;
	border-bottom:1px solid #EEEEEE;
	margin: 0px 12px;
}
.container{
	width:980px;
	margin:30px auto;
	padding:0;
	overflow:hidden;
}
#content_left{
	width:301px;
	float:left;
	overflow:hidden;
}

#content_left_top{
	background-color:#FFF;
	height:341px;
}
#content_left_bottom{
	margin-top:10px;
	padding:0px;
	text-align:left;
	height:153px;
	color:#494949;
	background-color:#FFFFFF;
}
#content_left_bottom .get_support_title{
	height: 36px;
    line-height: 37px;    
	color:#494949;
	padding-left: 9px;
    font-size: 14px;
}
#content_left_bottom .get_support_content{
	padding: 13px 15px 10px 9px;
	font-size:12px;
	line-height: 27px;
	color:#494949;
}
#content_left_bottom span{
	color:#6C266C;
}
#content_right{
	width:670px;
	float:right;
	overflow:hidden;
}
#content_right_top{
	height:247px;
	background-color:#FFF;	
}

#content_right_top .right_top_title{
    color: #494949;
    font-size: 14px;
	height: 36px;
    line-height: 37px;
	padding-left:9px;
}
.sign_in{color:#f68b24;text-decoration:underline;}
#content_right_top .intro_addition{padding:0 40px;}
#content_right_top .intro_privacy_title{
	color:#808080;
	font-size:10px;
	font-weight:normal;
	vertical-align: middle;
	padding:0 50px 0 40px;
	position:relative;
	left:0px;
	top:-12px;
}
#content_right_top .intro_privacy_content{
	color:#808080;
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}

#content_right_bottom{
	margin-top:10px;
	height:247px;
	background-color:#FFF;	
}


/*history*/
.history_title{
	color: #494949;
    padding-left: 9px;
    font-size: 14px;
    height: 36px;
}

.history_title .left {
	float: left;
    width: 266px;
    height: 36px;
    line-height: 44px;
}
.history_title .right {
	float: left;
	width: 13px;
	padding-top:13px;
	height: 30px;
	text-align:left;
	
}

.open_file{
	font-weight: 400;
	color:#494949;
	padding:7px 0 3px 9px;
	
}
.open_file a{
	text-decoration:none;
	color:#494949;
	font-size:12px;
}
.open_file .small_icon{
	width:140px;
	height:16px;
	background:url('../images/icon_folder_open.png') no-repeat;
	padding-left:20px;
}


.file_history{
	background:url('../images/icon_pdf.png') no-repeat;
	background-position:left center;
	font-weight:500;
	color:#494949;
	padding-left:20px;
	line-height:20px;	
	text-decoration:none;
}
.history_list .suffix_pdf{
	background:url('../images/icon_pdf.png') no-repeat;
	background-position:left center;
}
.history_list .suffix_epub{
	background:url('../images/icon_epub.png') no-repeat;
	background-position:left center;
}
.rect_int{
	color:#AFAFAF;
}
.history_list{
	list-style:none;
	margin:0;
	padding:5px 0 0 9px;
}
.history_list li{
	padding:3px 0 3px 20px;
	font-size:12px;
	color: #494949;
}
.history_list a{
	text-decoration: none;
	color:#494949;	
}
img{
	border:0;
}
.noneline {
	text-decoration: none;
}
.clearfix:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix
{
	display:none;
}

.disabled{
	opacity:0.4;
}